@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'), url('../fonts/CenturyGothic.woff2') format('woff2'), url('../fonts/CenturyGothic.woff') format('woff'), url('../fonts/CenturyGothic.ttf') format('truetype'), url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CenturyGothic-Bold';
    src: url('../fonts/CenturyGothic-Bold.eot');
    src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CenturyGothic-Bold.woff2') format('woff2'), url('../fonts/CenturyGothic-Bold.woff') format('woff'), url('../fonts/CenturyGothic-Bold.ttf') format('truetype'), url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
} 

html {
    background-color: #161F35;
    overflow-y: scroll;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'CenturyGothic', sans-serif;
}
.margin-0 {
    margin: 0 !important;
}
.padding-0 {
    padding: 0 !important;
}
.container {
    max-width: 100%;
}
main {
    z-index: 1500;
}
.posting-images img {
    width: 100%;
    visibility: hidden;
}
.container-images {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 100ms;
}
.amor-abusado {
    background-image: url('../images/amor-abusado-01.png');
}
.drops-mine {
    background-image: url('../images/drops-mine-02.png');
}
.escreva-bem-pra-caralho-um {
    background-image: url('../images/escreva-bem-pra-caralho-um-01.png');
}
.escreva-bem-pra-caralho-dois {
    background-image: url('../images/escreva-bem-pra-caralho-dois-02.png');
}
.escreva-bem-pra-caralho-tres {
    background-image: url('../images/escreva-bem-pra-caralho-tres-01.png');
}
.escreva-bem-pra-caralho-quatro {
    background-image: url('../images/escreva-bem-pra-caralho-quatro-02.png');
}
.geek-machine {
    background-image: url('../images/geek-machine-01.png');
}
.instaletrica {
    background-image: url('../images/instaletrica-02.png');
}
.lipex {
    background-image: url('../images/lipex-01.png');
}
.neu-kuche {
    background-image: url('../images/neu-kuche-02.png');
}
.um-chef-em-casa {
    background-image: url('../images/um-chef-em-casa-01.png');
}
.victor-design {
    background-image: url('../images/victor-design-02.png');
}
.amor-abusado:hover {
    background-image: url('../images/amor-abusado.png');
}
.drops-mine:hover {
    background-image: url('../images/drops-mine.png');
}
.escreva-bem-pra-caralho-um:hover {
    background-image: url('../images/escreva-bem-pra-caralho-um.png');
}
.escreva-bem-pra-caralho-dois:hover {
    background-image: url('../images/escreva-bem-pra-caralho-dois.png');
}
.escreva-bem-pra-caralho-tres:hover {
    background-image: url('../images/escreva-bem-pra-caralho-tres.png');
}
.escreva-bem-pra-caralho-quatro:hover {
    background-image: url('../images/escreva-bem-pra-caralho-quatro.png');
}
.geek-machine:hover {
    background-image: url('../images/geek-machine.png');
}
.instaletrica:hover {
    background-image: url('../images/instaletrica.png');
}
.lipex:hover {
    background-image: url('../images/lipex.png');
}
.neu-kuche:hover {
    background-image: url('../images/neu-kuche.png');
}
.um-chef-em-casa:hover {
    background-image: url('../images/um-chef-em-casa.png');
}
.victor-design:hover {
    background-image: url('../images/victor-design.png');
}
.container {
    width: 100%;
    margin: 0 auto;
}
.conteiner-80 {
    width: 80%;
    margin: 0 auto;
}
#banner {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url('../images/background.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner img {
    margin: 0px 0px 30px 0px;
    border-radius: 50%;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.15);
}
#banner h1 {
    font-weight: 700;
    color: #EDEDED;
    text-transform: uppercase;
    margin: 0px 0px 30px 0px;
    padding: 0px 80px;
}
#banner p {
    font-weight: 300;
    color: #EDEDED;
    margin: 0px 0px 30px 0px;
    padding: 0px 80px;
}
.skin {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
}
.header-text {
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
    padding-bottom: 0;
}
.text-center {
    position: relative;
    z-index: 50;
    display: table-cell;
    vertical-align: middle;
    width: 68%;
}
.align-center {
    display: -webkit-inline-box;
}
.container-buttons {
    width: 100%;
    float: left;
    position: relative;
}
.style-button {
    float: left;
    color: #EDEDED;
    box-sizing: content-box;
}
.any-question {
    border: solid 3px #EDEDED;
    cursor: pointer;
    border-radius: 35px;
}
.any-question:hover, .any-question:active, .any-question:focus, .any-question:visited {
    background-color: #FF2318;
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
}
.news {
    background-color: #161F35;
    border: solid 3px #161F35;
    border-radius: 35px;
}
#a-victor-design {
    text-align: center;
    color: #EDEDED;
    background-color: #161F35;
    position: relative;
}
#a-victor-design h2 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px 0px 30px 0px;
}
#a-victor-design p {
    font-weight: 200;
}
.posting-images {
    overflow: hidden;
    padding: 0;
    float: left;
}
.posting-images img {
    width: 100%;
}

#posting {
    position: absolute;
}
#posting:before {
    content: '';
    width: 50%;
    background-color: #161F35;
    position: absolute;
    left: 0;
    z-index: 1;
    -webkit-transform: skewY(8deg);
    transform: skewY(6deg);
}
#posting:after {
    content: '';
    width: 50%;
    background-color: #161F35;
    position: absolute;
    right: 0;
    -webkit-transform: skewY(-8deg);
    transform: skewY(-6deg);
}
.fadeInDown#name {
    animation-delay: 0s;
}
.fadeInDown#email {
    animation-delay: 0.5s;
}
.fadeInDown#subject {
    animation-delay: 1s;
}
.fadeInDown#message {
    animation-delay: 1.5s;
}
.fadeInDown#enviar {
    animation-delay: 2.5s;
}
@-moz-document url-prefix() {
    .container-images img {
        transition-property: all;
        transition-duration: 800ms;
        transition-timing-function: linear;
        opacity: 0;
    }
    .container-images:hover img {
        transition-property: all;
        transition-duration: 800ms;
        transition-timing-function: linear;
        opacity: 1;
        visibility: visible;
    }
}
.modal {
    overflow: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
}
.modal-dialog {
    position: relative;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
}
.modal-content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border: none;
}
.close {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    outline: none;
    color: #FFF;
    text-shadow: none;
    margin: 10px;
    outline: none !important;
    opacity: 1;
    z-index: 1500;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 100ms;
}
.close:hover, .close:focus {
    color: #FFF;
    opacity: 0.3;
}
.modal-open header section  {
    filter: blur(15px);
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 100ms;
}
@supports (-ms-ime-align:auto) {
    .modal-open header section .skin { 
        filter: blur(15px);
        transition-property: all;
        transition-duration: 500ms;
        transition-timing-function: linear;
        transition-delay: 100ms;
    } 
}
.modal-backdrop.show {
    opacity: 0 !important;
}
.before-the-center {
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
    padding-bottom: 0;
}

.video-content {
    width: 100%;
}
.video-background {
    
}


.center {
    position: relative;
    z-index: 50;
    display: table-cell;
    vertical-align: middle;
}
.form {
    margin: 0 auto;
}
.form-control {
    border: none;
    border-radius: 19px;
    box-shadow: none;
}
input[type=text] {
    outline: none !important;
}
.buttons {
    background-color: #161F35;
    border: solid 3px #161F35;
    border-radius: 35px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
}
.buttons:hover, .buttons:active, .buttons:visited {
    background-color: #FF2318;
    border: solid 3px #FF2318;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    color: #fff;
    background-color: #FF2318;
    border-color: #FF2318;
    outline: none;
    box-shadow: none;
}
.btn.focus, .btn:focus {
    outline: none;
    box-shadow: none;
}
.alert {
    border: none !important;
    border-radius: 50px !important;
    top: 50px !important;
}
.alert-success, .alert-warning, .alert-danger {
    font-family: 'CenturyGothic', sans-serif;
    font-size: 1em;
    color: #FFF;
    width: 100%;
}
.alert-success {
    background-color: #290634;
    border-color: #1c0424;
}
.alert-warning {
    background-color: #FFC750;
    border-color: #CC9D41;
}
.alert-danger {
    background-color: #FF5050;
    border-color: #CC4141;
}
button.close {
    right: 0px !important;
    top: -5px !important;
}
::-webkit-scrollbar {
    width: 6px;
    height: 3px;
}
::-webkit-scrollbar-thumb {
    background: #FF2318;
    border: 0 none #EEE;
    border-radius: 0;
}

@media (max-width: 820px) and (max-height: 640px) {
    header {
        height: 600px !important;
    }
    main {
        top: 600px !important;
    }
    .form {
        width: 280px;
    }
    .center {
        width: 100%;
    }
    .modal-dialog {
        max-width: 100%;
        width: 100%;
    }
    textarea#message {
        height: 80px;
    }
    .form-group {
        margin-bottom: 5px !important;
    }
}

@media (max-width: 360px) {
    #banner img {
        height: 120px !important;
    }
    #banner h1 {
        font-size: 1.1em !important;
        padding: 0px 20px !important; 
    }
    .style-button {
        padding: 20px 10px !important;
    }
    #a-victor-design h2 {
        font-size: 1.8em !important;
    }
    #a-victor-design p {
        font-size: 1em !important;
    }
}

@media (max-width: 479px) {
    header {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    main {
        position: absolute;
        top: 100%;
    }
    #banner {
        background-attachment: initial;
    }
    #banner img {
        height: 160px;
    }
    #banner h1 {
        font-size: 1.4em;
    }
    #banner p {
        font-size: 1em;
    }
    .style-button {
        padding: 20px 30px;
        font-size: 1em;
    }
    .any-question {
        margin: 0px 5px 0px 0px;
    }
    .news {
        margin: 0px 0px 0px 5px;
    }
    #a-victor-design {
        padding: 80px 0 60px 0;
    }
    #a-victor-design:before {
        content: '';
        width: 50%;
        height: 60px;
        background-color: #161F35;
        position: absolute;
        top: -30px;
        left: 0;
        z-index: 1;
        -webkit-transform: skewY(8deg);
        transform: skewY(6deg);
    }
    #a-victor-design:after {
        content: '';
        width: 50%;
        height: 60px;
        background-color: #161F35;
        position: absolute;
        top: -30px;
        right: 0;
        -webkit-transform: skewY(-8deg);
        transform: skewY(-6deg);
    }
    #a-victor-design h2 {
        font-size: 1.8em;
    }
    #a-victor-design p {
        font-size: 1.1em;
        line-height: 1.2em;
    }
    #posting {
        position: absolute;
    }
    #posting:before {
        height: 80px;
        top: -50px;
    }
    #posting:after {
        height: 80px;
        top: -50px;
    }
    .escreva-bem-pra-caralho-um {
        background-image: url('../images/escreva-bem-pra-caralho-um-02.png');
    }
    .escreva-bem-pra-caralho-dois {
        background-image: url('../images/escreva-bem-pra-caralho-dois-01.png');
    }
    .geek-machine {
        background-image: url('../images/geek-machine-02.png');
    }
    .instaletrica {
        background-image: url('../images/instaletrica-01.png');
    }
    .um-chef-em-casa {
        background-image: url('../images/um-chef-em-casa-02.png');
    }
    .victor-design {
        background-image: url('../images/victor-design-01.png');
    }
    .form {
        width: 220px;
    }
    .center {
        width: 100%;
    }
    .modal-dialog {
        max-width: 100%;
        width: 100%;
    }
    textarea#message {
        height: 100px;
    }
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        float: left;
    }
    .col-xs-12 {
        width: 100%;
    }
    .col-xs-11 {
        width: 91.66666667%;
    }
    .col-xs-10 {
        width: 83.33333333%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-8 {
        width: 66.66666667%;
    }
    .col-xs-7 {
        width: 58.33333333%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-5 {
        width: 41.66666667%;
    }
    .col-xs-4 {
        width: 33.33333333%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-2 {
        width: 16.66666667%;
    }
    .col-xs-1 {
        width: 8.33333333%;
    }
    .col-xs-pull-12 {
        right: 100%;
    }
    .col-xs-pull-11 {
        right: 91.66666667%;
    }
    .col-xs-pull-10 {
        right: 83.33333333%;
    }
    .col-xs-pull-9 {
        right: 75%;
    }
    .col-xs-pull-8 {
        right: 66.66666667%;
    }
    .col-xs-pull-7 {
        right: 58.33333333%;
    }
    .col-xs-pull-6 {
        right: 50%;
    }
    .col-xs-pull-5 {
        right: 41.66666667%;
    }
    .col-xs-pull-4 {
        right: 33.33333333%;
    }
    .col-xs-pull-3 {
        right: 25%;
    }
    .col-xs-pull-2 {
        right: 16.66666667%;
    }
    .col-xs-pull-1 {
        right: 8.33333333%;
    }
    .col-xs-pull-0 {
        right: auto;
    }
    .col-xs-push-12 {
        left: 100%;
    }
    .col-xs-push-11 {
        left: 91.66666667%;
    }
    .col-xs-push-10 {
        left: 83.33333333%;
    }
    .col-xs-push-9 {
        left: 75%;
    }
    .col-xs-push-8 {
        left: 66.66666667%;
    }
    .col-xs-push-7 {
        left: 58.33333333%;
    }
    .col-xs-push-6 {
        left: 50%;
    }
    .col-xs-push-5 {
        left: 41.66666667%;
    }
    .col-xs-push-4 {
        left: 33.33333333%;
    }
    .col-xs-push-3 {
        left: 25%;
    }
    .col-xs-push-2 {
        left: 16.66666667%;
    }
    .col-xs-push-1 {
        left: 8.33333333%;
    }
    .col-xs-push-0 {
        left: auto;
    }
    .col-xs-offset-12 {
        margin-left: 100%;
    }
    .col-xs-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-xs-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-xs-offset-9 {
        margin-left: 75%;
    }
    .col-xs-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-xs-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-xs-offset-6 {
        margin-left: 50%;
    }
    .col-xs-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-xs-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-xs-offset-3 {
        margin-left: 25%;
    }
    .col-xs-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-xs-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-xs-offset-0 {
        margin-left: 0;
    }
    .hidden-xs {
        display: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    header {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    main {
        position: absolute;
        top: 100%;
    }
    #banner {
        background-attachment: initial;
    }
    #banner img {
        height: 160px;
    }
    #banner h1 {
        font-size: 1.4em;
    }
    #banner p {
        font-size: 1em;
    }
    .style-button {
        padding: 20px 30px;
        font-size: 1em;
    }
    .any-question {
        margin: 0px 5px 0px 0px;
    }
    .news {
        margin: 0px 0px 0px 5px;
    }
    #a-victor-design {
        padding: 80px 0 60px 0;
    }
    #a-victor-design:before {
        content: '';
        width: 50%;
        height: 60px;
        background-color: #161F35;
        position: absolute;
        top: -30px;
        left: 0;
        z-index: 1;
        -webkit-transform: skewY(8deg);
        transform: skewY(6deg);
    }
    #a-victor-design:after {
        content: '';
        width: 50%;
        height: 60px;
        background-color: #161F35;
        position: absolute;
        top: -30px;
        right: 0;
        -webkit-transform: skewY(-8deg);
        transform: skewY(-6deg);
    }
    #a-victor-design h2 {
        font-size: 2em;
    }
    #a-victor-design p {
        font-size: 1.1em;
        line-height: 1.2em;
    }
    #posting {
        position: absolute;
    }
    #posting:before {
        height: 80px;
        top: -50px;
    }
    #posting:after {
        height: 80px;
        top: -50px;
    }
    .form {
        width: 280px;
    }
    .center {
        width: 100%;
    }
    .modal-dialog {
        max-width: 100%;
        width: 100%;
    }
    .col-ms-1, .col-ms-2, .col-ms-3, .col-ms-4, .col-ms-5, .col-ms-6, .col-ms-7, .col-ms-8, .col-ms-9, .col-ms-10, .col-ms-11, .col-ms-12 {
        float: left;
    }
    .col-ms-12 {
        width: 100%;
    }
    .col-ms-11 {
        width: 91.66666667%;
    }
    .col-ms-10 {
        width: 83.33333333%;
    }
    .col-ms-9 {
        width: 75%;
    }
    .col-ms-8 {
        width: 66.66666667%;
    }
    .col-ms-7 {
        width: 58.33333333%;
    }
    .col-ms-6 {
        width: 50%;
    }
    .col-ms-5 {
        width: 41.66666667%;
    }
    .col-ms-4 {
        width: 33.33333333%;
    }
    .col-ms-3 {
        width: 25%;
    }
    .col-ms-2 {
        width: 16.66666667%;
    }
    .col-ms-1 {
        width: 8.33333333%;
    }
    .col-ms-pull-12 {
        right: 100%;
    }
    .col-ms-pull-11 {
        right: 91.66666667%;
    }
    .col-ms-pull-10 {
        right: 83.33333333%;
    }
    .col-ms-pull-9 {
        right: 75%;
    }
    .col-ms-pull-8 {
        right: 66.66666667%;
    }
    .col-ms-pull-7 {
        right: 58.33333333%;
    }
    .col-ms-pull-6 {
        right: 50%;
    }
    .col-ms-pull-5 {
        right: 41.66666667%;
    }
    .col-ms-pull-4 {
        right: 33.33333333%;
    }
    .col-ms-pull-3 {
        right: 25%;
    }
    .col-ms-pull-2 {
        right: 16.66666667%;
    }
    .col-ms-pull-1 {
        right: 8.33333333%;
    }
    .col-ms-pull-0 {
        right: auto;
    }
    .col-ms-push-12 {
        left: 100%;
    }
    .col-ms-push-11 {
        left: 91.66666667%;
    }
    .col-ms-push-10 {
        left: 83.33333333%;
    }
    .col-ms-push-9 {
        left: 75%;
    }
    .col-ms-push-8 {
        left: 66.66666667%;
    }
    .col-ms-push-7 {
        left: 58.33333333%;
    }
    .col-ms-push-6 {
        left: 50%;
    }
    .col-ms-push-5 {
        left: 41.66666667%;
    }
    .col-ms-push-4 {
        left: 33.33333333%;
    }
    .col-ms-push-3 {
        left: 25%;
    }
    .col-ms-push-2 {
        left: 16.66666667%;
    }
    .col-ms-push-1 {
        left: 8.33333333%;
    }
    .col-ms-push-0 {
        left: auto;
    }
    .col-ms-offset-12 {
        margin-left: 100%;
    }
    .col-ms-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-ms-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-ms-offset-9 {
        margin-left: 75%;
    }
    .col-ms-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-ms-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-ms-offset-6 {
        margin-left: 50%;
    }
    .col-ms-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-ms-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-ms-offset-3 {
        margin-left: 25%;
    }
    .col-ms-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-ms-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-ms-offset-0 {
        margin-left: 0;
    }
    .hidden-ms {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    header {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    main {
        position: absolute;
        top: 100%;
    }
    #banner {
        background-attachment: initial;
    }
    #banner img {
        height: 180px;
    }
    #banner h1 {
        font-size: 1.6em;
    }
    #banner p {
        font-size: 1.2em;
    }
    .style-button {
        padding: 20px 40px;
        font-size: 1.1em;
    }
    .any-question {
        margin: 0px 15px 0px 0px;
    }
    .news {
        margin: 0px 0px 0px 15px;
    }
    #a-victor-design {
        padding: 80px 0 60px 0;
    }
    #a-victor-design:before {
        content: '';
        width: 50%;
        height: 60px;
        background-color: #161F35;
        position: absolute;
        top: -30px;
        left: 0;
        z-index: 1;
        -webkit-transform: skewY(8deg);
        transform: skewY(6deg);
    }
    #a-victor-design:after {
        content: '';
        width: 50%;
        height: 60px;
        background-color: #161F35;
        position: absolute;
        top: -30px;
        right: 0;
        -webkit-transform: skewY(-8deg);
        transform: skewY(-6deg);
    }
    #a-victor-design h2 {
        font-size: 1.8em;
    }
    #a-victor-design p {
        font-size: 1.1em;
        line-height: 1.3em;
    }
    #posting {
        position: absolute;
    }
    #posting:before {
        height: 80px;
        top: -50px;
    }
    #posting:after {
        height: 80px;
        top: -50px;
    }
    .escreva-bem-pra-caralho-tres {
        background-image: url('../images/escreva-bem-pra-caralho-tres-02.png');
    }
    .escreva-bem-pra-caralho-quatro {
        background-image: url('../images/escreva-bem-pra-caralho-quatro-01.png');
    }
    .geek-machine {
        background-image: url('../images/geek-machine-02.png');
    }
    .instaletrica {
        background-image: url('../images/instaletrica-01.png');
    }
    .form {
        width: 400px;
    }
    .center {
        width: 100%;
    }
    .modal-dialog {
        max-width: 100%;
        width: 100%;
    }
    .hidden-md {
        display: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
    }
    main {
        position: absolute;
        top: 100%;
    }
    #banner {
        background-attachment: fixed;
    }
    #banner img {
        height: 180px;
    }
    #banner h1 {
        font-size: 2em;
    }
    #banner p {
        font-size: 1.1em;
    }
    .style-button {
        padding: 20px 40px;
    }
    .any-question {
        margin: 0px 15px 0px 0px;
    }
    .news {
        margin: 0px 0px 0px 15px;
    }
    #a-victor-design {
        padding: 80px 0 60px 0;
    }
    #a-victor-design:before {
        content: '';
        width: 50%;
        height: 60px;
        background-color: #161F35;
        position: absolute;
        top: -30px;
        left: 0;
        z-index: 1;
        -webkit-transform: skewY(8deg);
        transform: skewY(6deg);
    }
    #a-victor-design:after {
        content: '';
        width: 50%;
        height: 60px;
        background-color: #161F35;
        position: absolute;
        top: -30px;
        right: 0;
        -webkit-transform: skewY(-8deg);
        transform: skewY(-6deg);
    }
    #a-victor-design h2 {
        font-size: 2em;
    }
    #a-victor-design p {
        font-size: 1em;
        line-height: 1.3em;
    }
    #posting {
        position: absolute;
    }
    #posting:before {
        height: 80px;
        top: -50px;
    }
    #posting:after {
        height: 80px;
        top: -50px;
    }
    .escreva-bem-pra-caralho-tres {
        background-image: url('../images/escreva-bem-pra-caralho-tres-02.png');
    }
    .escreva-bem-pra-caralho-quatro {
        background-image: url('../images/escreva-bem-pra-caralho-quatro-01.png');
    }
    .geek-machine {
        background-image: url('../images/geek-machine-02.png');
    }
    .instaletrica {
        background-image: url('../images/instaletrica-01.png');
    }
    .form {
        width: 400px;
    }
    .center {
        width: 100%;
    }
    .modal-dialog {
        max-width: 100%;
        width: 100%;
    }
    .col-ml-1, .col-ml-2, .col-ml-3, .col-ml-4, .col-ml-5, .col-ml-6, .col-ml-7, .col-ml-8, .col-ml-9, .col-ml-10, .col-ml-11, .col-ml-12 {
        float: left;
    }
    .col-ml-12 {
        width: 100%;
    }
    .col-ml-11 {
        width: 91.66666667%;
    }
    .col-ml-10 {
        width: 83.33333333%;
    }
    .col-ml-9 {
        width: 75%;
    }
    .col-ml-8 {
        width: 66.66666667%;
    }
    .col-ml-7 {
        width: 58.33333333%;
    }
    .col-ml-6 {
        width: 50%;
    }
    .col-ml-5 {
        width: 41.66666667%;
    }
    .col-ml-4 {
        width: 33.33333333%;
    }
    .col-ml-3 {
        width: 25%;
    }
    .col-ml-2 {
        width: 16.66666667%;
    }
    .col-ml-1 {
        width: 8.33333333%;
    }
    .col-ml-pull-12 {
        right: 100%;
    }
    .col-ml-pull-11 {
        right: 91.66666667%;
    }
    .col-ml-pull-10 {
        right: 83.33333333%;
    }
    .col-ml-pull-9 {
        right: 75%;
    }
    .col-ml-pull-8 {
        right: 66.66666667%;
    }
    .col-ml-pull-7 {
        right: 58.33333333%;
    }
    .col-ml-pull-6 {
        right: 50%;
    }
    .col-ml-pull-5 {
        right: 41.66666667%;
    }
    .col-ml-pull-4 {
        right: 33.33333333%;
    }
    .col-ml-pull-3 {
        right: 25%;
    }
    .col-ml-pull-2 {
        right: 16.66666667%;
    }
    .col-ml-pull-1 {
        right: 8.33333333%;
    }
    .col-ml-pull-0 {
        right: auto;
    }
    .col-ml-push-12 {
        left: 100%;
    }
    .col-ml-push-11 {
        left: 91.66666667%;
    }
    .col-ml-push-10 {
        left: 83.33333333%;
    }
    .col-ml-push-9 {
        left: 75%;
    }
    .col-ml-push-8 {
        left: 66.66666667%;
    }
    .col-ml-push-7 {
        left: 58.33333333%;
    }
    .col-ml-push-6 {
        left: 50%;
    }
    .col-ml-push-5 {
        left: 41.66666667%;
    }
    .col-ml-push-4 {
        left: 33.33333333%;
    }
    .col-ml-push-3 {
        left: 25%;
    }
    .col-ml-push-2 {
        left: 16.66666667%;
    }
    .col-ml-push-1 {
        left: 8.33333333%;
    }
    .col-ml-push-0 {
        left: auto;
    }
    .col-ml-offset-12 {
        margin-left: 100%;
    }
    .col-ml-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-ml-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-ml-offset-9 {
        margin-left: 75%;
    }
    .col-ml-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-ml-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-ml-offset-6 {
        margin-left: 50%;
    }
    .col-ml-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-ml-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-ml-offset-3 {
        margin-left: 25%;
    }
    .col-ml-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-ml-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-ml-offset-0 {
        margin-left: 0;
    }
    .hidden-ml {
        display: none;
    }
}
@media (min-width: 1200px) {
    header {
        position: fixed;
        left: 0;
        width: 50%;
        height: 100%;
    }
    main {
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
    }
    #banner {
        background-attachment: fixed;
    }
    #banner img {
        height: 180px;
    }
    #banner h1 {
        font-size: 2.4em;
    }
    #banner p {
        font-size: 1.1em;
    }
    .style-button {
        padding: 20px 40px;
    }
    .any-question {
        margin: 0px 15px 0px 0px;
    }
    .news {
        margin: 0px 0px 0px 15px;
    }
    #a-victor-design {
        padding: 80px 0 40px 0;
    }
    #a-victor-design h2 {
        font-size: 2.8em;
    }
    #a-victor-design p {
        font-size: 1em;
        line-height: 1.3em;
    }
    #posting {
        position: relative;
    }
    #posting:before {
        height: 50px;
        top: -25px;
    }
    #posting:after {
        height: 50px;
        top: -25px;
    }
    .form {
        width: 400px;
    }
    .center {
        width: 50%;
    }
    .modal-dialog {
        max-width: 50%;
        width: 50%;
    }
    .hidden-lg {
        display: none;
    }
}
@media (min-width: 1600px) {
    #posting:before {
        height: 70px;
        top: -35px;
    }
    #posting:after {
        height: 70px;
        top: -35px;
        right: 0;
    }
    .form {
        width: 400px;
    }
    .center {
        width: 50%;
    }
    .modal-dialog {
        max-width: 50%;
        width: 50%;
    }
    .hidden-xl {
        display: none;
    }
}